### Lists

- Lists are used to store multiple items in a single variable.

- List stores values inside a [] - square bracket and are separated by commas.

- Lists are one of the 4 built in data types in python used to store collections of data.

- Lists are mutable in nature which means the values of the list can be modified.

- Lists contains multiple data types and are iterables.

In [17]:
#Example

a = ['benz', 'bmw', 'audi']
a

['benz', 'bmw', 'audi']

- List items are ordered, changeable and allows duplicates

- List items can be accessed via index values.

- List items are ordered, it has definite order and it will not change

- Adding new items to the list will append it at the end.

In [3]:
#example of a blank list

list1 = []
list1

[]

- List is changeable - we can perform operations like change, add or remove items from list

- Lists will also allow duplicates

In [4]:
#duplicates

list1 = ['benz', 'audi', 'suzuki','volvo','bmw','audi']
list1

['benz', 'audi', 'suzuki', 'volvo', 'bmw', 'audi']

In [5]:
#Accessing elements from the list - mention the index value

fruits = ['apple', 'banana', 'orange']
fruits[1]

'banana'

In [11]:
#Nested list or multi-dimensional list - list within a list

list1 = [['Python', 'Programming'], ['for', 'data science']]
list1

[['Python', 'Programming'], ['for', 'data science']]

In [12]:
#accessing elements from a multidimensional list

list1[0][1] # 0 states the first list and 1 states the position

'Programming'

In [13]:
list1[1][0] # 1 states the 2nd list and 0 states the position

'for'

In [14]:
#Negative indexing - represents positions from the end.

list2 = ['apple','orange','kiwi',40,70,10.0]
list2[-1]

10.0

### 1. List size or length 

- To know the number of items in the list len() function is used

- len() is used to get the length of the list

In [15]:
a = ['cars', 'fruits', 10,80,300,'italy']
len(a)

6

### 2.Data type of list

- List can have any data type be it string, int, float

- The data type can be accessed by using type()

In [21]:
list1 = ['peacock', 'nightingale', 14, 24, 'italy']
print(list1)
print(type(list1))

['peacock', 'nightingale', 14, 24, 'italy']
<class 'list'>

### 3. List constructor

- list() constructor can also be used to create a list and the values should be enclosed in (()) (double round brackets)

In [24]:
list1 = list(('a','b','c',1,2,3))
list1

['a', 'b', 'c', 1, 2, 3]

### 4. Range of indexes

- We can specify a range of indexes by mentioning the start and end point

- When specifying the range, the return value will be a new list with the specified items.

In [27]:
list1 = ['apple','kiwi',10,20,30,250.67,'cars','countries']
list1[1:6]  #includes start value excludes end value. n = n-1 (6-1=5 prints until 5th position)

['kiwi', 10, 20, 30, 250.67]

In [30]:
#negative indexes

list1 = ['apple','kiwi',10,20,30,250.67,'cars','countries']
list1[-4:-1]  #excludes (-1th position)

[30, 250.67, 'cars']

### 5. Check if item exists

- To check whether the given item is present in the list use in keyword

In [31]:
fruits = ['apple','kiwi','orange','banana']
print('apple' in fruits)

True

### 6. Change list items

- To change the items in the list use the index value

In [32]:
cars = ['benz','audi','bmw','suzuki']
cars[3] = 'volvo'
cars

['benz', 'audi', 'bmw', 'volvo']

#### 6.1 Change a range of item values 

- To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [33]:
list2 = ['italy','uk','usa','india','australia','newzealand','germany']
list2[0:2] = 'iceland', 'finland'
list2

['iceland', 'finland', 'usa', 'india', 'australia', 'newzealand', 'germany']

### 7. Insert items in a list

- To insert a new list item, without replacing any of the existing values, we can use the insert() method at a specified index

In [42]:
cars = ['benz','volvo','audi']
cars.insert(4,'suzuki')
print(cars)

['benz', 'volvo', 'audi', 'suzuki']

### 8. Add List Items

#### 8.1. Append()

- Append() method adds items to the end of the list

In [44]:
cars = ['benz','bmw','audi','volvo']
cars.append('suzuki')
cars

['benz', 'bmw', 'audi', 'volvo', 'suzuki']

#### 8.2. Extend()

- To append items from another list to a current list extend() method is used.

- Elements will be added to the end of the list

- The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [46]:
#example 1
list1=['apple','banana',14,24]
list1.extend([1,23])
list1

['apple', 'banana', 14, 24, 1, 23]

In [50]:
#example 2 - adding any iterable


list1 = ['benz','audi','bmw']
tuple1 = ('volvo','rangerover')
list1.extend(tuple1)
print(list1)

['benz', 'audi', 'bmw', 'volvo', 'rangerover']

In [51]:
#addding items from one list to another

fruits = ['apple','banana','orange']
veggies = ['potato','tomato','onion']
fruits.extend(veggies)
print(fruits)

['apple', 'banana', 'orange', 'potato', 'tomato', 'onion']

### 9. Remove List items

#### 9.1. Remove Specific item

- remove() method removes specific item from the list

- If the list contains duplicates then the first occurance of the value will be deleted

In [52]:
fruits = ['apple','mango','orange','banana']
fruits.remove('banana')
fruits

['apple', 'mango', 'orange']

#### 9.2. Remove Specified index

- pop() method is used the item from specified index value

- If index value is not mentioned then the last item will be removed

In [54]:
#with specifying index value
cars = ['benz','audi','rangerover',14,24,4556]
cars.pop(2)
cars

['benz', 'audi', 14, 24, 4556]

In [55]:
#without specifying index value
cars = ['benz','audi','rangerover',14,24,4556]
cars.pop()
cars

['benz', 'audi', 'rangerover', 14, 24]

#### 9.3. Remove specified index

- del keyword can also be used to remove the item from specified index

- del keyword will also delete the complete list.

In [56]:
cars = ['benz','audi','rangerover',14,24,4556]
del cars[1]
cars

['benz', 'rangerover', 14, 24, 4556]

In [57]:
#del keyword to delete the complete list

cars = ['benz','audi']
del cars
cars

NameError: name 'cars' is not defined

### 10.Clear the List

- To empty the list clear() method is used

- The list will remain but the contents will be cleared

In [58]:
veggies = ['tomato', 'potato', 'peas']
veggies.clear()
veggies

[]

### 11. Reversing a list  - 

#### 11.1 reverse() method

- A list can be reversed by using reverse() method

In [61]:
list1 = [14,24,29,'TT','BC','McD']
list1.reverse()
list1

['McD', 'BC', 'TT', 29, 24, 14]

#### 11.2 reversed()

- reversed() function returns a reverse iterator, which can be converted to list using list() function.

In [65]:
list1 = [14,24,29,'TT','BC','McD']
list2 = list(reversed(list1))
list2

['McD', 'BC', 'TT', 29, 24, 14]