### STRINGS - Part 1

#### Overview of basic string concepts

#### Strings

1. Strings in python are enclosed inside '' or "".

2. Python strings are immutable.

3. A string in python is an object of str class.

4. String is a non-numeric data type.

5. Operations like slicing, indexing and concatenation can be performed in strings.

6. Multiline strings can be assigned to a variable inside """(triple quotes).

7. In python strings are arrays of bytes representing unicode characters

8. Python does not have a character data type, a single character is simply a string with a length of 1

9. Square brackets can be used to access elements of the string.

10. We can loop through the characters in a string with a for loop.

11. To get the length of the string len()function is used.

12. in and not in keywords can be used to check if a certain phrase or character is present or not.

In [2]:
#declaring a string

a = 'Hello' 
b = "Hello" #'' and "" both are same
print(a)
print(b)

Hello
Hello

In [3]:
# multiline strings

a = """ Data science and machine learning is the current,
sensational course which everybody is currently interested to pursue."""
print(a)

 Data science and machine learning is the current,
sensational course which everybody is currently interested to pursue.

In [4]:
# checking the type 

a = 'hello'
print(type(a))

<class 'str'>

In [5]:
#finding the length of string

a='hello'
print(len(a))

5

### 1. Indexing 

1. Individual characters of a String can be accessed by using the method of Indexing.

2. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character, and so on.

In [7]:
#Strings are arrays. Accessing the element of string using indexing[]

x = "Welcome to python programming"
x[3]

'c'

### 1.1 Negative indexing 

1. The 0th element will be the first character of the string whereas the -1th element is the last character of the string.

2. Use negative indexes to start the slice from the end of the string

In [27]:
#Accessing the elements of the string (negative index numbers prints from last)

x = "Welcome to python programming"
x[-1]

'g'

In [25]:
x = "Welcome to python programming"
x[-5:-2]

#includes m(-5 position) and excludes -2 (n)

'mmi'

### 1.2 IndexError

1. While accessing an index out of the range will cause an IndexError.

2. Integer,float or other types that will cause a TypeError.

In [13]:
x = "hello"
x[5]

IndexError: string index out of range

In [16]:
x = 123
x[0]

TypeError: 'int' object is not subscriptable

### 2. Looping through the strings

1. In python strings are arrays and can be looped through with the help of for loop

In [12]:
for i in "hello world":
    print(i)
#This for loop states that for every character in i print the value.
#i holds "hello world" and it iterates through it hence the entire word gets printed.

h
e
l
l
o

w
o
r
l
d

### 3.Check String

1. To check if a certain phrase or character is present in a string, in keyword is used, the result would be in boolean

In [17]:
a = "apple a day keeps the doctor away"
print("keeps" in a)

True

In [19]:
#using if statement

a = "apple a day keeps the doctor away"
if "keeps" in a:
    print("keeps is present in a")

keeps is present in a

### 3.1Check if NOT

1. To check if a certain phrase or characte is not present in a string, not in keyword is used, the result would be in boolean

In [20]:
a = "apple a day keeps the doctor away"
print("banana" not in a)

True

### 4. Python Slicing

. The String Slicing method is used to access a range of characters in the String

. Specify the start index and the end index, separated by a colon, to return a part of the string.

. The first character by default has index 0

In [21]:
str1 = "hello world"
str1[2:5]
#prints from position 2 to 4. n is 5 and the output would be always(n-1)
#Starting point will be included the ending point would be excluded.

'llo'

### 4.1 Slice from start

By leaving out the start index, the range will start at the first character

In [22]:
str1 = "hello world"
str1[:5]

#Gets the position from start to position 4 (n-1)

'hello'

### 4.2 Slice to the end

By leaving out the end index, the range will go to the end

In [24]:
str1 = "hello world"
str1[3:]

#starts from 3rd position and prints till last

'lo world'

### 5. Python Modify Strings

Python has a set of built-in methods that can be used on strings.

#### 5.1 Upper Case

upper() method returns the string in upper case

In [28]:
a = "hello"
a.upper()

'HELLO'

#### 5.2 Lower Case

lower() method returns the string in lower case

In [30]:
a = "HELLO"
a.lower()

'hello'

#### 5.3 Whitespace removal

1. The space present before or after the text is referred as whitespace and we might need to remove it based on our needs

2. strip() method removes any whitespace in the beginning or end.

In [37]:
a = " hello, world welcome to python "
a.strip()

'hello, world welcome to python'

#### 5.4 String replacement

replace() method replaces a string with another string

In [38]:
a = "hello world python"
a.replace('w','W')

'hello World python'

#### 5.5 Split String

split() method returns a list where the text between the specified separator becomes the list items

In [39]:
str2 = "hello world"
str2.split(",")

['hello world']

#### 5.6 Deleting entire string

1. Deletion of the entire string is possible with the use of del keyword.

2. After deleting if we try to print the string it will throw error because it will be unavailable

In [42]:
#declaring a string
str3 = 'python'
str3

'python'

In [43]:
#deleting the string
del str3

In [44]:
#trying to print after deleting
str3

NameError: name 'str3' is not defined

### 6. String Concatenation

To concatenate, or combine, two strings + operator is used.

In [46]:
a = 'hello'
b = 'world'
c = a + b
c

'helloworld'

In [47]:
#to add space add "" between +

a = "hi"
b = "welcome"
c = a+" "+b
c

'hi welcome'

### 7. Python - Format - Strings

1. Strings and numbers cannot be combined together.

2. format() method is used to combine strings and numbers.

3. The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [48]:
#using format() to insert numbers into strings

exp = 4
str1 = "I work in IT and have {} years of experience"
str1.format(exp)

'I work in IT and have 4 years of experience'

In [50]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders

age = 23
exp = 3
str2 = "I work in IT, my age is {} and I have {} years of experience"
str2.format(age,exp)

'I work in IT, my age is 23 and I have 3 years of experience'

In [54]:
#Index numbers can also be used to be sure that the arguments are placed in the correct placeholders

age = 23 #0th index
exp = 3 #1st index
str2 = "I work in IT, my age is {0} and I have {1} years of experience"
str2.format(age,exp)

'I work in IT, my age is 23 and I have 3 years of experience'

### 8. Python escape sequence overview

1. While printing Strings with single and double quotes in it causes SyntaxError because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these.

2. To print such a String either Triple Quotes are used or Escape sequences are used to print Strings. 

3. To insert characters that are illegal in a string, use an escape character.

4. An escape character is a backslash \ followed by the character you want to insert.

In [56]:
#error scenario

str1 = "So called "Badshaah" of bollywood"
str1

SyntaxError: invalid syntax (3423710965.py, line 3)

In [57]:
#using escape character

str1 = "So called \"Badshaah\" of bollywood"
str1

'So called "Badshaah" of bollywood'